/*--tablet and small laptop screens(header)--*/
@media only screen and (min-width:481px) and (max-width:999px) {
  /*header*/
  .header-title{
  font-size: 4em;
}
.header nav ul{
  margin-left: 50px;
}
.header nav ul li  {
float: left;
}
.header nav ul li a {
  font-family:sans-serif;
  font-size: 1em;
  }
}
/*---for desktop(header)---*/
@media only screen and (min-width: 1000px){
  .header-title{
  margin: 31px 0;
  text-align: center;
  padding: 0px 20px 0px 40px;
  border-right:2px solid #111;
  float: left;
  line-height: 38px;
  }
  .header nav ul {
  margin: 20 0px;
  float:left;
  }

  .header nav ul li a {
    line-height: 95px;
    font-size: 1em;
  }
  .header nav ul li a:hover{
    border-bottom: 3px solid #111;
  }
}
/*--------------------------------------------------*/
/*--tablet(homepage)--*/
@media only screen and (min-width:481px) and (max-width:999px) {
  .index-hero_image{
    height: 400px;
  }
  .index-hero_image h2{
    font-size: 5em;
    left: 35%;
  }
  .index-hero_image p{
    font-size: 2em;
  }
  .index-box1{
  margin-left: 5%;
  }
  img{
  margin-left: 5%;
  }
}
/*---desktop(homepage)---*/
@media only screen and (min-width: 1000px){
  .index-hero_image{
    height: 800px;
  }
  .index-hero_image h2{
    font-size: 9em;
    left: 37%;
  }
  .index-hero_image p{
    font-size: 2em;
    left: 5%;
  }
  .index-box1{
    margin-left: 5%;
  }
  img{
  margin-top:70px;
  margin-left: 5%;
  width: 90%;
  }
}

/*--------------------------------------------------*/
/*desktop(footer)*/
@media only screen and (min-width: 1000px){
    footer {
      width:100%;
      margin-right: 50px;
      background-color: #818181;
      margin-top:10%;
    }
    footer  ul{
      display: block;
      text-align: left;
    }
    footer  ul li{
      list-style: none;
      margin-bottom: 10px;
    }
    footer  ul li a{
      text-align: left;
      font-size: 16px;
      color: white;
      font-family: sans-serif;
    }

footer ul li a:hover{
  border-bottom: 3px solid #111;
  }
  .footer-socials1{
  margin-top: 3%;
  margin-right: 20px;
  width: 5%;
  }
  .footer-socials2{
    margin-top: 3%;
    width: 5%;
  }
  .footer-links{
    font-size: 15px;
  }

  h3{
    font-size: 20px;

  }
  .footer-socials1:hover{
    border-bottom: 3px solid #111;
  }
  .footer-socials2:hover{
    border-bottom: 3px solid #111;
  }

}
/*--------------------------------------------------*/
/*tablet(about)*/
@media only screen and (min-width:481px) and (max-width:999px) {
  .about-box{
    line-height: 23px;
  }
  .me-img img{
    width: 80%;
    margin-left: 10%;
  }
}
/*Desktop(about)*/
@media only screen and (min-width: 1000px){
.about-box{
  width: 30%;
  margin-top: 2%;
  text-align:center;
  margin-left:5%;
  float: inherit;
}

.me-img img{
  float: right;
  width: 40%;
  height: 650px;
  margin-right: 6%;
  margin-top: 0.5%;
  }
}
/*--------------------------------------------------*/
/*For desktop(DevSoc)*/
@media only screen and (min-width: 1000px){
.img1 {
width: 30%;
float:left;
margin-top: 20px;
padding: 0;
border-radius: 25px;
}
.img2 {
  width: 35%;
float: left;
  padding:0;
  margin-top: 20px;
  border-radius: 25px;
}
.img3{
  width: 30%;
  float:left;
  padding: 5px;
  border-radius: 25px;
}

  .devsoc-box{
   width: 40%;
   margin-top: 3%;
   margin-bottom: 1%;
  text-align:center;
  margin-left:90px;
  float: left;
   }
}
/*--------------------------------------------------*/
/*for desktop(CertMentor)*/
@media only screen and (min-width: 1000px){
.cert-box{
      margin-bottom: 5%;
  }
  .cert img{
    width: 60%;
    height: 900px;
    margin-left: 20%;
  }
}
/*--------------------------------------------------*/
/*For tablet(programming)*/
@media only screen and (min-width:490px) and (max-width:999px) {
  .google-colab img{
    height: 600px;
  }
}
/*For desktop(programming)*/
@media only screen and (min-width: 1000px){
  .programming-box{
    margin-left: 10%;
    border-radius: 25px;
    width: 79%;
    line-height: 23px;
    text-align: center;
    font-family:monospace;
    font-weight: 200;
    background-color: #c5b0ad;
  }
  .google-colab img{
    width: 40%;
    height: 400px;
    float: left;
    margin-bottom: 4%;
    padding: 0;
    margin-left: 5%;
  }
}
